* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #ba81e6;
    color: white;
    font-size: 30px;
    
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #8a5cad;
    height: 100%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 22px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }

  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  cursor: pointer; 
  width: 300px;
  height: 300px;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


